
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab">
      <span> {{ faq.id}}. </span>
      <span> {{ faq.question}} </span>
      <a data-toggle="collapse" class="collapsed pull-right" data-parent="#accordion" href="#questions-{{ i }}" aria-expanded="true">
          <i class="fa fa-angle-double-up"></i>
      </a>
    </div> 
    <div id="questions-{{ i }}" class="card-body collapse" role="tabpanel">
      <div class="card-block">
          <div class="card-text">
              {{ faq.answer }}       
          </div>
      </div>
    </div>
  </div>
</div>