
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab">
      <span> {{ i + 1 }}. </span>
      <span> {{ faq.question}} </span> 
      <span class="delete-icon fa fa-trash" (click)="deleteFaq(faq)"></span>
      <a data-toggle="collapse" class="collapsed pull-right" data-parent="#accordion" href="#faq{{i}}" aria-expanded="true">
          <i class="fa fa-angle-double-up"></i>
      </a> 
    </div> 
    <div id="faq{{i}}" class="card-body collapse" role="tabpanel">
      <div class="card-block">
          <div class="card-text">
              {{ faq.answer }}       
          </div>
      </div>
    </div>
  </div>
</div>